/* ===== BERANDA ===== */
.hero {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-cta:hover {
    background-color: #ffffff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.fakta-sekolah {
    background-color: var(--light-gray-color);
}

.fakta-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.fakta-card {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 30px;
    text-align: center;
    border-radius: 12px;
}

.fakta-card h3 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.fakta-card p {
    font-size: 1.1rem;
}

.grid-3,
.grid-4 {
    display: grid;
    gap: 30px;
}

.grid-3 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.jurusan-card {
    border: 1px solid var(--border-color);
    padding: 30px;
    text-align: center;
    border-radius: 12px;
}

.jurusan-card img {
    height: 100px;
    margin-bottom: 20px;
}

.galeri-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 15px;
}

.galeri-item {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.galeri-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.galeri-item:hover img {
    transform: scale(1.03);
}

.galeri-item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.galeri-item .date-tag {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #ffffff;
    color: var(--text-color);
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}
