/* ===== HALAMAN JURUSAN & DETAIL JURUSAN ===== */
.page-header {
    padding: 40px 0;
    padding-bottom: 0px;
}
.jurusan-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}
.jurusan-card-full {
    background-color: white;
    border-radius: 12px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}
.jurusan-card-full img {
    height: 120px;
    margin: 0 auto 20px auto;
    object-fit: contain;
}
.jurusan-card-full h3 {
    color: var(--dark-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.jurusan-card-full p {
    flex-grow: 1;
    margin-bottom: 20px;
}
.detail-jurusan-content {
    max-width: 800px;
    margin: 0 auto;
}
.detail-jurusan-content img.featured-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 30px;
}
.detail-jurusan-content h3 {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 15px;
}
.detail-jurusan-content ul {
    list-style: disc;
    padding-left: 20px;
}
.detail-jurusan-content li {
    margin-bottom: 8px;
}
span{
    color: rgb(33, 204, 204);
}